/* pengaturan header css */
/* font 1 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

.header{
    background-color: #F190B7;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
#nama_toko{
    margin-top: 60px;
    margin-left: 10px;
    letter-spacing: 5px;
    font-size: 30px;
    color: #A63EC5;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-family: 'Josefin Sans', sans-serif;
}
input[type=text]{
    margin-top: 60px;
    margin-left: 10px;
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
    width: 200%;
}
.navbar{
    margin-left: 350px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tombol{
    margin-right: 10px;
    padding: 10px;
    background-color: #FBD6D2;
    border: none;
    color: #CE49BF;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
}
.tombol:hover{
    background-color: #A63EC5;
    color: white;
}

input[type="checkbox"]{
    margin-top: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #FBD6D2;
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background-color: #A63EC5;
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}
input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}
.dark{
    background-color: #CE49BF;
    color: #fff;
}

/* pengaturan tengah css */
/* font 2 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

#judul{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    margin-top: 50px;
    color: #CE49BF;
    animation: glow 1s ease-in-out infinite alternate;
}
.sepatu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.about{
    text-align: center;
    margin-top: auto;
}
.tmbl{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tombol-2{
    margin-top: auto;
    padding: 10px;
    background-color: #FBD6D2;
    border: none;
    color: #CE49BF;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
}
.tombol-2:hover{
    background-color: #A63EC5;
    color: white;
}

/* pengaturan footer css */
.kontak{
    text-align: center;
    margin-top: auto;
}
.footer-2{
    padding: 20px;
    background-color: #F190B7;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buat-ig{
    display: flex;
    flex-direction: row;
}
